@charset "utf-8";
@font-face {
    font-family: 'NanumBarunGothicLight';
    font-style: normal;
    font-weight: normal;
    src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
    src: url(/css/font/NanumBarunGothicLight.eot);
    src: url(/css/font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'), url(/css/font/NanumBarunGothicLight.woff) format('woff'), url(/css/font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: normal;
    src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
    src: url(/css/font/NanumBarunGothic.eot);
    src: url(/css/font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), url(/css/font/NanumBarunGothic.woff) format('woff'), url(/css/font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    font-style: normal;
    font-weight: normal;
    src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
    src: url(/css/font/NanumBarunGothicBold.eot);
    src: url(/css/font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'), url(/css/font/NanumBarunGothicBold.woff) format('woff'), url(/css/font/NanumBarunGothicBold.ttf) format('truetype');
}

@font-face {
    font-family: 'HanaM';
    font-style: normal;
    font-weight: normal;
    src: url(/css/font/HanaM.eot);
    src: url(/css/font/HanaM.eot?#iefix) format('embedded-opentype'), url(/css/font/HanaM.woff) format('woff'), url(/css/font/HanaM.ttf) format('opentype');
}

@font-face {
    font-family: 'HanaL';
    font-style: normal;
    font-weight: normal;
    src: url(/css/font/HanaL.eot);
    src: url(/css/font/HanaL.eot?#iefix) format('embedded-opentype'), url(/css/font/HanaL.woff) format('woff'), url(/css/font/HanaL.ttf) format('opentype');
}

@font-face {
    font-family: 'HanaB';
    font-style: normal;
    font-weight: normal;
    src: url(/css/font/HanaB.eot);
    src: url(/css/font/HanaB.eot?#iefix) format('embedded-opentype'), url(/css/font/HanaB.woff) format('woff'), url(/css/font/HanaB.ttf) format('opentype');
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body {
    height: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    font-family: 'NanumBarunGothic', 'dotum';
    -webkit-text-size-adjust: none;
}

a:link {
    color: #888888;
    text-decoration: none
}

a:visited {
    color: #888888;
    text-decoration: none
}

a:hover {
    color: #019591;
    text-decoration: underline
}

a:active {
    color: #019591;
    text-decoration: none
}

img {
    border: 0
}

ol,
ul,
li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {}

hr {
    display: none;
}


/* form */


/*form, fieldset    {position:absolute; top:-5000px; left:-5000px; height:0; visibility:hidden}*/

fieldset {
    border: 0 none
}

label {}

input {
    vertical-align: middle;
}

input[type=submit],
input[type=button] {
    border: 0 none;
    padding: 0;
    background: transparent;
    vertical-align: middle;
    color: #fff;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
}

input.txt {
    height: 16px;
    padding: 5px 7px 4px;
    border: 1px solid #b3b3b3;
    vertical-align: middle;
    color: #666;
    font-size: 12px;
    line-height: 1.3;
    font-family: '돋움';
}

input.chk {
    border: 0 none;
    margin-right: 2px;
    vertical-align: middle
}

textarea {}

select {
    vertical-align: middle;
}

.select {
    display: inline-block;
    padding: 3px 4px 4px 4px;
    *padding: 1px 1px 0 1px;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}

.select select {
    border: 0 none;
    color: #666;
    font-size: 16px;
}

button {
    display: inline-block;
    overflow: visible;
    border: 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-family: 'NanumBarunGothic';
}

button::-moz-focus-inner {
    padding: 0;
}


/* table */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table caption {
    width: 0;
    height: 0;
    line-height: 0px;
    visibility: hidden
}


/* ieFix */

.ieFix {
    background: none\9;
    filter: progid: DxImageTransform.Microsoft.AlphaImageLoader();
}


/* layout */


/* SkipMenu */

#SkipMenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 0px;
    background-color: #019591;
    box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.1);
}

#SkipMenu .row {
    min-width: 320px;
    margin: 0 auto;
}

#SkipMenu .skipNav {
    float: left;
    margin-top: 5px;
    padding: 5px 0;
}

#SkipMenu .skipNav ul {
    overflow: hidden;
}

#SkipMenu .skipNav ul li {
    display: inline;
    float: left;
    margin-left: 20px;
}

#SkipMenu .skipNav ul li a {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #fff;
}

#SkipMenu .skipClose {
    float: right;
    margin: 6px 20px 0 0;
    padding: 3px;
    border-radius: 12px;
    background-color: #fff;
}

#SkipMenu a:active,
visited,
link,
hover {
    font-size: 12px;
    color: #fff !important;
}

#wrap {
    min-width: 1264px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1264px;
    height: 140px;
    background: #fff;
    z-index: 20;
}

#com_header {
    position: relative;
    max-width: 1500px;
    height: 75px;
    padding: 0 20px;
    margin: 0 auto 0;
    background: #fff;
}

#com_header .gnb_logo {
    float: left;
    width: 150px;
    margin: 25px 0 0 0;
}

#container {
    min-width: 1264px;
    margin-top: 140px;
}

#contents {}

.cont_head {
    padding-bottom: 80px;
}

.cont_head h1.sub_t_tit {
    height: 45px;
    padding: 50px 0 0 0;
    font-size: 32px;
    color: #333333;
    line-height: 45px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'HanaL';
}

.cont_head .sub_t_txt {
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
    font-size: 20px;
    color: #666666;
    text-align: center;
    background: url('/kor/img/common/nav_top_black_1px_bg.png') no-repeat center top;
}

.cont_head.bigTit {
    padding-bottom: 0;
}

.cont_head.bigTit h1.sub_t_tit {
    color: #019591;
}

.cont_body {}

.cont_body h2.tit {
    font-family: 'HanaL';
}

.cont_body .bg_grey {
    min-width: 1264px;
    background: #ededed;
}

.cont_body .cont_inner {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 0 80px 0;
}

.cont_body .board_inner {
    max-width: 1264px;
    margin: 0 auto;
}


/* LNB */

nav#lnb {
    display: block;
}

.lnb {
    float: right;
    padding-top: 30px;
}

.lnb li {
    float: left;
    width: 180px;
    height: 17px;
    font-size: 16px;
}

.lnb li a {
    color: #333;
}

.lnb li a:hover {
    color: #019591;
    text-decoration: underline;
}

.lnb li.sMenu {
    width: auto;
    padding-top: 50px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 1;
}


/*
.lnb li.sMenu > a {color:#888;}
.lnb li.sMenu > a:hover   {color:#333333; text-decoration:none}
.lnb li.sMenu > a:active  {color:#333333; text-decoration:none}
.lnb li.sMenu > a.active	{display:inline-block; color:#333333; background:url('/kor/img/common/nav_top_black_1px_bg.png') no-repeat center 10px;}
*/

.lnb li.sMenu>a {
    display: inline-block;
    text-indent: -9999px;
}

.lnb li.sMenu>a.lnb01 {
    width: 65px;
    height: 45px;
    background: url('/kor/img/lnb/topMenu_01.png') left top no-repeat;
}

.lnb li.sMenu>a.lnb02 {
    width: 65px;
    height: 45px;
    background: url('/kor/img/lnb/topMenu_02.png') left top no-repeat;
}

.lnb li.sMenu>a.lnb03 {
    width: 65px;
    height: 45px;
    background: url('/kor/img/lnb/topMenu_03.png') left top no-repeat;
}

.lnb li.sMenu>a:hover {
    background-position: 0 -45px;
}

.lnb li.sMenu>a.active {
    background-position: 0 -45px;
}

.lnb li div.dep2 {
    display: none;
    position: absolute;
    left: 20px;
    top: 90px;
}

.lnb li div.dep2 ul {}

.lnb li div.dep2 ul li {
    width: auto;
    height: auto;
    margin-right: 75px;
}

.lnb li.sMenu.munwhaMenu div.dep2 ul li {
    margin-right: 55px;
}


/*.lnb li div.dep2 ul li a {display:inline-block; padding:0; font-size:20px;}*/

.lnb li div.dep2 ul li a {
    display: inline-block;
    text-indent: -9999px;
}

.lnb li div.dep2 ul li a.lnb01_01 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_01_01.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb01_02 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_01_02.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb01_03 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_01_03.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb01_04 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_01_04.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb02_01 {
    width: 90px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_02_01.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb02_02 {
    width: 72px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_02_02.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb02_03 {
    width: 55px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_02_03.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_01 {
    width: 72px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_01.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_02 {
    width: 72px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_02.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_03 {
    width: 72px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_03.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_04 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_04.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_05 {
    width: 95px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_05.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_06 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_06.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_07 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_07.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.lnb03_08 {
    width: 37px;
    height: 30px;
    background: url('/kor/img/lnb/topMenu_03_08.png') left top no-repeat;
}

.lnb li div.dep2 ul li a.hover {
    background-position: 0 -30px;
}

.lnb li div.dep2 ul li a.active {
    background-position: 0 -30px;
}

.main .lnb li.sMenu {
    visibility: hidden;
}

.main #header {
    height: 80px;
}


/* 언어 */

.util_lang {
    position: absolute;
    right: 170px;
    top: 0;
    z-index: 55;
    width: 80px;
    margin-top: 30px;
    z-index: 50;
    background: url('/kor/img/common/bg_util_lang_top.png') no-repeat 56px 7px;
}

.util_lang li a {
    font-size: 16px;
    color: #333;
}

.util_lang li a:hover {
    color: #019591;
    text-decoration: underline;
}


/* 전체 사이트맵 */

#scrollWrap {
    overflow: hidden;
    position: relative;
    width: 720px;
}

.allViewLayer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 0 5px 20px;
    background: #333333;
    z-index: 99;
}

.allViewLayer:after {
    content: "";
    clear: both;
    display: block;
}

.allViewLayer h1.allView_tit {
    width: 100%;
    font-size: 20px;
    color: #fff;
    margin: 0 0 20px 0;
}

.allViewLayer h2.allView_tit {
    font-size: 20px;
    color: #019591;
    margin: 10px 0 25px 0;
    font-weight: normal;
}

.allViewLayer a {
    display: block;
    font-size: 15px;
    color: #fff;
}

.allViewLayer a img {
    width: 100%;
}

.allViewLayer a span {
    display: block;
}

.allViewLayer div.allView_cont_person,
.allViewLayer div.allView_cont_tech,
.allViewLayer div.allView_cont_culture {
    float: left;
    width: 160px;
    margin: 0 20px 0 0;
}

.allViewLayer div.allView_cont_person li,
.allViewLayer div.allView_cont_tech li,
.allViewLayer div.allView_cont_culture li {
    margin-bottom: 15px;
}

.allViewLayer div.allView_cont_culture {
    width: 340px;
    margin-right: 0;
}

.allViewLayer .allView_cont_person h2.allView_tit {
    background: url('/kor/img/common/allViewMap_line01.png') no-repeat right 10px;
}

.allViewLayer .allView_cont_tech h2.allView_tit {
    color: #ee295f;
    background: url('/kor/img/common/allViewMap_line02.png') no-repeat right 10px;
}

.allViewLayer .allView_cont_culture {
    float: left;
    width: auto;
    margin-right: 0;
}

.allViewLayer .allView_cont_culture h2.allView_tit {
    color: #ddb338;
    background: url('/kor/img/common/allViewMap_line03.png') no-repeat right 10px;
}

.allViewLayer .allView_cont_culture ul li {
    float: left;
    width: 160px;
    margin: 0 20px 0 0;
}

.allViewLayer .allView_cont_culture ul>li.last {
    margin-right: 0;
}

.allViewLayer .allView_cont_culture ul li ul li {
    float: none;
    margin-bottom: 15px;
}


/* board */

.board_top_wrap {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden
}


/* 페이징 */

.page_nate {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 0 60px 0;
    z-index: 1
}

.page_nate .page {
    height: 30px;
    text-align: center;
    line-height: 15px
}

.page_nate .first_page {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent url('/kor/img/common/icon_board.png') no-repeat 0 -36px;
    vertical-align: middle;
    margin: 0 2px;
}

.page_nate .first_page:hover {
    background: transparent url('/kor/img/common/icon_board.png') no-repeat -36px -36px;
}

.page_nate .end_page {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent url('/kor/img/common/icon_board.png') no-repeat 0 -108px;
    vertical-align: middle;
    margin: 0 2px;
}

.page_nate .end_page:hover {
    background: transparent url('/kor/img/common/icon_board.png') no-repeat -36px -108px;
}

.page_nate .pre_page {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent url('/kor/img/common/icon_board.png') no-repeat 0 0;
    vertical-align: middle;
    margin: 0 15px 0 2px;
}

.page_nate .pre_page:hover {
    background: transparent url('/kor/img/common/icon_board.png') no-repeat -36px 0;
}

.page_nate .next_page {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent url('/kor/img/common/icon_board.png') no-repeat 0 -72px;
    vertical-align: middle;
    margin: 0 2px 0 15px;
}

.page_nate .next_page:hover {
    background: transparent url('/kor/img/common/icon_board.png') no-repeat -36px -72px;
}

.page_nate .page_num {
    display: inline-block;
    height: 35px
}

.page_nate .page_num a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 2px;
    vertical-align: middle;
    color: #666666;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    text-decoration: none
}

.page_nate .page_num strong {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    color: #ffffff;
    background: #019591;
    font-size: 16px;
    text-decoration: none
}


/* 게시판 검색 */

.search_wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}

select.search_select {
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    height: 40px;
    line-height: 40px;
    width: 100px;
    font-size: 16px;
    color: #333333;
    padding: 0 0 0 5px;
}

input.search_input {
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    height: 40px;
    line-height: 40px;
    width: 270px;
    font-size: 16px;
    color: #333333;
    padding: 0 5px;
    margin: 0 5px;
}


/* btn_wrap */

.box_btn_board {
    text-align: right;
}

.btn_wrap {
    margin-top: 50px;
}

.btn_wrap.right {
    text-align: right;
}

.btn_download {
    height: 28px;
    padding: 0 44px 0 16px;
    border: 1px solid #e91969;
    background: url('/kor/img/common/bg_download.png') right center no-repeat;
}

.btn_download span {
    display: block;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #e91969;
    font-family: 'NanumBarunGothic';
}


/* footer */

#footer {
    min-width: 1264px;
    padding: 40px 0;
}

.footer_wrap {
    position: relative;
    max-width: 1540px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto 0;
    background: #fff;
    box-sizing: border-box;
}

.footer_wrap:after {
    content: '';
    clear: both;
    display: block;
}

.footer_wrap .f_left {
    float: left;
    width: 41.8%;
}

.footer_wrap .f_left .add_copyright {
    background: url('/kor/img/common/footer_logo_hanati.png') no-repeat 0 0;
    padding: 0 0 0 185px;
    width: auto;
    font-size: 12px;
    line-height: 21px;
    color: #888;
}

.footer_wrap .f_right {
    float: right;
    width: 58.2%;
}

.footer_wrap .f_right ul.footer_util:after {
    content: '';
    clear: both;
    display: block;
}

.footer_wrap .f_right ul.footer_util li {
    float: left;
    width: 19%;
    font-size: 12px;
    color: #333;
}

.footer_wrap .f_right .familySite_wrap {
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 1;
    box-sizing: border-box;
}

button.tap_network_on {
    /*font-size:12px;  font-style: normal; color:#888; cursor:pointer; font-size:inherit; line-height:100%; outline:none; border:0; text-align:left; width:100%; background:url('../img/common/bg_util_lang_down.png') no-repeat right 3px;*/
}


/* modal */

#dimm {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: alpha(opacity=70);
}


/* Layer Select */

.selectBox {
    display: inline-block;
    position: relative;
    min-width: 176px;
    text-align: left;
}

.selectBox a {
    display: block;
    padding: 0px 0px;
    font-size: 12px;
    color: #888888;
}

.selectBox .selectVal {
    background: url('/kor/img/common/bg_util_lang_down.png') no-repeat right 3px;
}

.selectBox .selectVal a {
    vertical-align: middle;
}

.selectBox .selectVal a:focus {
    color: #888;
    background-color: transparent;
}

.selectBox .selectMenu {
    display: none;
    position: absolute;
    left: -13px;
    z-index: 100;
    width: 100%;
    padding: 12px 11px 0px 11px;
    border: 1px solid #222;
    background-color: #fff;
    /*
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-o-box-sizing:border-box;	
	*/
}

.selectBox.up .selectMenu {
    bottom: 39px;
}

.selectBox.down .selectMenu {
    top: 40px;
    border-top: 0px;
}

.selectBox.on .selectMenu {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.selectBox .selectMenu li a {
    background-color: #fff;
}

.selectBox .selectMenu li:hover a {
    background-color: #ebebeb;
}


/* button */

button.close_allView {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 75px;
    background: url('/kor/img/common/btn_allViewMap_close.png') no-repeat 0 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

button.util_fullmenu {
    position: absolute;
    top: -30px;
    right: 0;
    width: 68px;
    height: 75px;
    border: 0;
    cursor: pointer;
    background: url('/kor/img/common/bg_util_fullmenu.png') no-repeat 0 0;
}

button.util_com_fullmenu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 55;
    width: 68px;
    height: 75px;
    border: 0;
    cursor: pointer;
    background: url('/kor/img/common/com_util_fullmenu.png') no-repeat 0 0;
}

button.tap_network_on {
    font-size: 12px;
    color: #888;
    cursor: pointer;
    font-size: inherit;
    line-height: 100%;
    outline: none;
    border: 0;
    text-align: left;
    width: 100%;
    background: url('/kor/img/common/bg_util_lang_down.png') no-repeat right 3px;
}

button.tap_network_off {
    font-size: 12px;
    color: #888;
    cursor: pointer;
    font-size: inherit;
    line-height: 100%;
    outline: none;
    border: 0;
    text-align: left;
    width: 100%;
    background: url('/kor/img/common/bg_util_lang_top.png') no-repeat right 3px;
}

button.btn_space_more {
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 321px;
    background: url('/kor/img/culture/culture_space_more_img.png') no-repeat center top;
}

button.btn_board {
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    width: auto;
    font-size: 20px;
    color: #333333;
    padding: 0 35px;
    margin: 0;
    cursor: pointer;
}

button.btn_search {
    height: 38px;
    padding: 0 25px;
    line-height: 38px;
    background: #019591;
    font-size: 20px;
    color: #ffffff;
    font-family: 'NanumBarunGothic';
}


/* tab */

#sec_tab03 {
    width: 100%;
    min-width: 1264px;
    max-width: 1540px;
    margin: 0 auto;
    background: #ffffff;
    height: 62px;
}

#sec_tab03 .box_tab03 {
    width: 100%;
    margin: 80px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    text-align: center;
}

#sec_tab03 .box_tab03:after {
    content: "";
    clear: both;
    display: block;
}

#sec_tab03 .box_tab03.mar_t0 {
    margin-top: 0;
}

#sec_tab03 .box_tab03 li {
    float: left;
    width: 33.33%;
    height: 60px;
    border-top: 2px solid #cccccc;
    line-height: 60px;
}

#sec_tab03 .box_tab03 a {
    display: block;
    color: #999;
    text-decoration: none;
}

#sec_tab03 .box_tab03 a:hover {
    color: #019591;
    text-decoration: none;
}

#sec_tab03 .box_tab03 li.current {
    border-top: 2px solid #019591 !important;
}

#sec_tab03 .box_tab03 li.current a {
    color: #019591 !important;
}

#sec_tab03 .box_tab03 .current::after {
    color: #019591;
}

#sec_tab03 .box_tab03 li:last-child {
    width: 33.34%;
}

#sec_tab03 .box_tab03.type2 {
    margin-top: 0;
}

#sec_tab03 .box_tab03.type2 li {
    border-top: 2px solid #cccccc;
}

#sec_tab03 .box_tab03.tab2 li {
    width: 50%;
}

#sec_tab03 .box_tab03.tab4 li {
    width: 25%;
}

#sec_tab03 .box_tab03.tab5 li {
    width: 20%;
}

#sec_tab03 .box_tab03.tab6 li {
    width: 16.6666667%;
}

.tabcontent {
    display: none;
}

.tabcontent.current {
    display: block;
}


/* 정렬 */

.fl_left {
    float: left
}

.fl_right {
    float: right
}

.fl_clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0
}

.al_left {
    text-align: left !important
}

.al_center {
    text-align: center
}

.al_right {
    text-align: right
}

.al_top {
    vertical-align: top
}

.al_middle {
    vertical-align: middle
}

.al_bottom {
    vertical-align: bottom
}

.al_justify {
    text-align: justify
}

.hand {
    cursor: pointer
}

.overflow {
    overflow: auto;
    overflow: hidden
}

.none {
    position: absolute;
    top: -5000px;
    left: -5000px;
    height: 0;
    visibility: hidden
}


/* t- r- b- l */

.pos_rel {
    position: relative
}

.clfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden
}

.clfix {
    display: inline-block
}

.clfix {
    display: block
}

* html .clfix {
    height: 1%
}


/* Hides from IE-mac */

.clfix {
    zoom: 1
}


/*for IE 5.5-7*/


/* font */

.t_12 {
    font-size: 12px
}

.t_13 {
    font-size: 13px
}

.t_number {
    color: #333;
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 0px
}

.t_green {
    color: #008485
}

.t_gray {
    color: #666
}

.t_wine {
    color: #e90061
}

.t_point_gray {
    color: #333
}

.t_point {
    background: #e1f5f2;
    color: #333333;
    font-weight: normal
}

.t_arial {
    font-family: Arial;
    letter-spacing: 0px
}

.t_chi {
    font-family: '돋움', 'Dotum';
    letter-spacing: 0px;
}


/* letter-spacing */

.ls2 {
    letter-spacing: 2px
}

.ls1 {
    letter-spacing: 1px
}

.ls0 {
    letter-spacing: 0
}

.ls_2 {
    letter-spacing: -2px
}

.ls_1 {
    letter-spacing: -1px
}

.lh18 {
    line-height: 18px
}


/* margin * padding */

.m0 {
    margin: 0 !important
}

.ma {
    margin: 0 auto
}

.mb0 {
    margin-bottom: 0 !important
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb25 {
    margin-bottom: 25px;
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px
}

.mt15 {
    margin-top: 15px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.ml4 {
    *margin-left: 4px
}

.ml20 {
    margin-left: 20px
}

.pt0 {
    padding-top: 0
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pl10 {
    padding-left: 10px
}

.pl30 {
    padding-left: 30px
}

.pl50 {
    padding-left: 50px
}


/* 기업지배구조규준 여백추가 121101 */


/* color */

.green {
    color: #019591 !important;
}